<div class="back-to-home rounded d-none d-sm-block">
    <a routerLink="/" class="btn btn-icon btn-soft-primary">
      <i-feather name="home" class="icons"></i-feather>
    </a>
  </div>
  
  <!-- Hero Start -->
  <section class="bg-home d-flex align-items-center">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-6">
          <div class="mr-lg-5">
            <img src="assets/images/user/signup.svg" class="img-fluid d-block mx-auto" alt="">
          </div>
        </div>
        <div class="col-lg-5 col-md-6">
          <div class="card login_page shadow rounded border-0">
            <div class="card-body">
              <h4 class="card-title text-center">Sign up</h4>
              <form class="login-form mt-4" #refform=ngForm (ngSubmit)="submitForm(refform)">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group position-relative">
                      <label>First name <span class="text-danger">*</span></label>
                      <i-feather name="user" class="fea icon-sm icons"></i-feather>
                      <input type="text" class="form-control pl-5" placeholder="First Name" name="firstName" required ngModel>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group position-relative">
                      <label>Last name <span class="text-danger">*</span></label>
                      <i-feather name="user-check" class="fea icon-sm icons"></i-feather>
                      <input type="text" class="form-control pl-5" placeholder="Last Name" name="lastName" required ngModel>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group position-relative">
                      <label>Friend's Email <span class="text-danger">*</span></label>
                      <i-feather name="mail" class="fea icon-sm icons"></i-feather>
                      <input type="email" class="form-control pl-5" placeholder="Email" name="email" required ngModel>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group position-relative">
                      <label>Referral Code </label>
                      <i-feather name="user" class="fea icon-sm icons"></i-feather>
                      <input type="text" class="form-control pl-5" placeholder="Referral Code" name="refcode" ngModel="{{referralRequest.referralToken}}">
                    </div>
                  </div>
                
                  <div class="col-md-12">
                    <button class="btn btn-primary btn-block">Sign up</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  <!--end section-->
  <!-- Hero End -->
  