<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100" id="home">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="page-next-level">
          <h4 class="title">GetAugie Inc. Privacy Policy</h4>
          <ul class="list-unstyled mt-4">
            <li class="list-inline-item h6 date text-muted">
              <span class="text-dark">Last Revised :</span> 1st March, 2021
            </li>
          </ul>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
        fill="currentColor"
      ></path>
    </svg>
  </div>
</div>
<!--Shape End-->

<!-- Start Privacy -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="card shadow rounded border-0">
          <div class="card-body">
            <h5 class="card-title">Overview :</h5>
            <p class="text-muted">
              This policy outlines how GetAugie, Inc. (“Augie”) handles personal
              information that Augie collects and receives.
            </p>
            <p class="text-muted">
              Please note that this policy does not encompass how Augie handles
              information about your credit that Augie obtains from you or from
              third party service providers when you apply to establish an
              account with, or otherwise receive financial services from, us or
              our third party issuing banks (except for information from a
              credit report that we obtained about you as discussed below in the
              Sections entitled Information Third Parties Provide About You and
              those related to sharing information with third parties). How
              Augie treats such information is outlined in our Terms of Service.
              This policy covers all other information about you that we collect
              and receive.
            </p>
            <p class="text-muted">
              This privacy policy ("Privacy Policy") details our information
              collection practices for "online" (e.g., web and mobile services,
              including web and mobile sites, including https://www.augie.app,
              however accessed and/or used, whether via personal computers,
              mobile devices or otherwise) and "offline" (e.g., collection of
              data through mailings) activities ("offline" and "online"
              activities collectively referred to as the "Services"), which are
              owned, operated or made available by GetAugie, Inc. ("Augie" or
              "we," "our," or "us"). In this Privacy Policy, we depict the types
              of information we collect from users of the Services and how we
              may use that information. This Privacy Policy also applies to your
              use of interactive features or downloads that: (i) we own or
              control; (ii) are available through the Services; or (iii)
              interact with the Services and state that they are bound by this
              Privacy Policy. In addition, please review our terms of service,
              which governs your use of our "online" Services.
            </p>

            <p class="text-muted">
              By using this website and the Services, you consent to this
              Privacy Policy.
            </p>

            <p class="text-muted">
              If you have questions or complaints regarding our privacy policy
              or practices, please contact us at info@getaugie.com.
            </p>

            <h4 class="card-title">Data We Gather :</h4>
            <h5 class="card-title">Information You Furnish to Us :</h5>
            <p class="text-muted">
              When you register with Augie or use our Services, we may ask you
              to provide us with certain categories of information such as: (1)
              personal information, which is information that could reasonably
              be used to identify you personally, such as your name, address,
              email address, date of birth, Social Security number, driver’s
              license number, or phone number ("Personal Information") (As
              explained above, any information from a credit report that we
              obtain about you is covered by our Terms of Service and the
              Sections entitled Information Third Parties Provide About You and
              those related to sharing information with third parties, and is
              not otherwise included in this Privacy Policy’s definition of
              Personal Information); and (2) demographic information, such as
              information about your family ("Demographic Information").
            </p>

            <p class="text-muted">
              As part of the Personal Information we collect when you register,
              we may collect your driver's license number and social security
              number as a requirement of the credit bureau to verify your
              identity. We may collect Personal Information through various
              other forms and in various places through the Services, including
              contact us forms, or when you otherwise communicate with us.
            </p>

            <h5 class="card-title">Information We Collect :</h5>
            <p class="text-muted">
              In addition to any Personal Information or other information that
              you choose to submit to us, we and our third-party service
              providers may use a variety of technologies that automatically (or
              passively) collect certain information whenever you visit or
              interact with the Services ("Usage Information"). For example,
              Augie automatically receives and records information that your
              browser sends whenever you visit the Augie website. These server
              logs may include information such as your IP address or other
              unique identifier ("Device Identifier"), browser type, browser
              language, the date and time of your request, and one or more
              cookies that may uniquely identify your browser from your computer
              or other device used to access the Services (any, a "Device"). A
              Device Identifier is a number that is automatically assigned to
              your Device used to access the Services, and our computers
              identify your Device by its Device Identifier.
            </p>

            <p class="text-muted">
              Augie uses aggregate data collected in log files and cookies for
              purposes that are standard for similar companies: to improve the
              Services, to personalize advertising, to launch new services, to
              conduct research, and to furnish anonymous reporting for internal
              and external clients. These cookies and log files do not hold your
              Personal Information, but they can be associated to your Personal
              Information in our system.
            </p>

            <p class="text-muted">
              Below are a few ways that we may use to gather Usage Information.
              In the future, other new technology and methods for collecting
              Usage Information may be utilized.
            </p>

            <p class="text-muted">
              SMS/Text Communication. We may send communications to you on your
              mobile telephone by SMS or text message. Message and data rates
              from your mobile telephone service provider may apply and are
              subject to the terms and conditions imposed by your provider.
            </p>

            <p class="text-muted">
              Cookies. A cookie is a data file placed on a Device when it is
              used to access the Services. A Flash cookie is a data file placed
              on a Device via the Adobe Flash plug-in that may be built into or
              downloaded by you to your Device. Cookies and Flash Cookies may be
              used for many applications, including, without limitation,
              remembering you and your likes and tracking your visits to our web
              pages. If you choose to disable cookies or Flash cookies on your
              Device, some features of the Services may not work properly. Augie
              uses cookies when you sign in, to identify you and keep track of
              your personal session. All this information is securely stored,
              and no Personal Information is kept on your cookie.
            </p>

            <p class="text-muted">
              Augie uses session ID cookies to improve your use of our site.
              Session ID cookies expire upon 30 minutes of inactivity or when
              you close your browser, whichever is shorter. We also use a
              persistent cookie that stays on your hard drive for an extended
              period of time, so that we can identify you when you return to our
              web site. You can remove persistent cookies by following
              directions provided by your Internet browser; however, because we
              use cookies for our sign-in functionality, if you choose to
              disable cookies you will not be able to log on to the Augie.app
              web site.
            </p>

            <p class="text-muted">
              Some of our business partners utilize cookies on our site. We do
              not have access or authority over these cookies.
            </p>

            <p class="text-muted">
              We use a third-party tracking service that uses cookies to track
              non-personally identifiable information about visitors to our site
              in the aggregate – e.g., usage and volume statistics to enhance
              and improve our Web site.
            </p>

            <p class="text-muted">
              Embedded Scripts. An embedded script is programming code that is
              built to gather information about your interactions with the
              Services, such as the links you click on. The code is temporarily
              downloaded onto your Device from our web server or a third party
              service provider, is active only while you are connected to the
              Services, and is deactivated or deleted thereafter.
            </p>

            <p class="text-muted">
              Web Beacons. Small graphic images or other web programming code
              known as web beacons (also known as "1x1 GIFs," “pixel tags,” or
              "clear GIFs") may be included in our web and mobile pages and
              messages. Web beacons may be invisible to you, but any electronic
              image or other web programming code inserted into a web or mobile
              page or e-mail can act as a web beacon. Web beacons or similar
              technologies may be used for a number of applications, including,
              without limitation, to count users of the Services, to monitor how
              users use the Services, to count how many e-mails that were sent
              were actually opened or to count how many particular articles or
              links were actually viewed. In contrast to cookies, which are
              stored on a user's computer hard drive, clear gifs are embedded
              invisibly on web pages and are about the size of the period at the
              end of this sentence. We do not tie web beacons to Personal
              Information.
            </p>

            <h5 class="card-title">
              Information Third Parties Provide About You :
            </h5>
            <p class="text-muted">
              From time to time, we may supplement the information we collect
              about you with outside records from third parties in order to
              enhance our ability to serve you, to personalize our content to
              you, and to offer you opportunities to purchase products or
              services that we believe may interest you. For example, we may
              receive credit reports about you from third party service
              providers. We may combine the information we receive from those
              third party sources with information we collect through the
              Services. In those cases, we will apply this Privacy Policy to any
              Personal Information received through these third party services,
              unless we have disclosed otherwise.
            </p>

            <p class="text-muted">
              Augie uses third parties to gather End User’s data from financial
              institutions. By using our service, you grant Augie and those
              third parties the right, power, and authority to act on your
              behalf to access and transmit your personal and financial
              information from the relevant financial institution. You agree to
              your personal and financial information being transferred, stored,
              and processed by us in accordance to our terms.
            </p>

            <h5 class="card-title">
              Information You Provide About A Third Party :
            </h5>

            <p class="text-muted">
              If you choose to use our service to tell a friend about our
              Services, we will ask you for your friend's name and email
              address. We will automatically send your friend a one-time email
              inviting him or her to visit the site. Augie stores this
              information for the sole purpose of sending this one-time email
              and tracking the success of our referral program. The information
              you provide (names, e-mail addresses, etc.) is used for
              communication and is not used for any other marketing purpose
              unless we obtain consent from that person or we explicitly say
              otherwise.
            </p>

            <p class="text-muted">
              Your friend may contact us at info@getaugie.com to request that we
              remove this information from our servers.
            </p>

            <h5 class="card-title">
              Furnishing Additional Information to Third Parties :
            </h5>
            <p class="text-muted">
              Augie does not sell or rent your Personal Information to third
              parties for any use. Augie only shares Personal Information with
              companies or individuals who are not our agents or services
              providers when we have your consent, or as otherwise permitted by
              this policy or Augie’s Terms and Conditions.
            </p>

            <p class="text-muted">
              Augie can share with third parties certain pieces of aggregated,
              non-Personal Information, such as the number of users who clicked
              on a particular advertisement. Such information does not identify
              you individually.
            </p>

            <h5 class="card-title">
              When You Agree To Receive Information From Third Parties
            </h5>

            <p class="text-muted">
              You may be presented with an opportunity to receive a marketing
              offer directly from affiliated or unaffiliated third parties.
              These offers vary from day to day, but typically if you are
              interested in a particular offer, you will be taken to a third
              party site to complete the offer. Please remember that the third
              parties' privacy policy governs the collection and use of your
              personal information. We are not responsible for the privacy
              policies and practices of third parties, and it is in your best
              interest to review the privacy policies and practices of such
              third parties before to consenting to receive such information
              from them. If you later determine that you no longer want to
              receive communication from a third party, you will need to contact
              that third party directly.
            </p>

            <p class="text-muted">
              On our Services, Augie may serve you targeted advertisements based
              on your Personal Information. Advertisers on our Services may
              include financial service providers (such as banks, credit card
              providers, insurance agents, stock brokers, and mortgage lenders)
              and non-financial companies (such as cable providers, airlines,
              wireless carriers, and software companies). Advertisers may assume
              that people who interact with, view, or click targeted ads meet
              certain targeting criteria - for example, men ages 18-24 with a
              certain minimum credit score. However, Augie does not provide
              advertisers any of your Personal Information when you view or
              interact with a targeted offer.
            </p>

            <p class="text-muted">
              Third Parties Providing Services on Our Behalf. We may utilize
              third party vendors to perform certain aspects of the Services on
              our or your behalf, such as hosting the Services, designing and/or
              operating the Services’ features, tracking the Services’
              analytics, and enabling Augie to send you special offers or
              performing other administrative services. We may provide these
              vendors with access to user information, including Personal
              Information, to carry out the services they are performing for you
              or for us. While we may use third party analytics service
              providers to evaluate and provide us with information about the
              use of the Services and viewing of our content, we do not share
              Personal Information with these analytics service providers, but
              they may set and access their own cookies, web beacons, and
              embedded scripts on your Device, and they may otherwise collect or
              have access to information about you, including non-personal
              information.
            </p>

            <p class="text-muted">
              Co-Branded Services. Certain aspects of the Services may be
              provided to you in association with third parties such as our
              advertisers, business partners, or sponsors, and may ask you to
              disclose Personal Information to them. Such Co-Branded Services
              will identify the third party. If you chose to sign up for
              products and/or services through the Co-Branded Services, you may
              be furnishing your information to both us and the third party. Any
              such information provided to the third party is governed by that
              third party’s privacy policies. Additionally, if you sign-in to a
              Co-Branded Service with a username and password obtained through
              the Services, your Personal Information may be disclosed to the
              identified third parties for that Co-Branded Service and will be
              subject to their posted privacy policies.
            </p>

            <p class="text-muted">
              Administrative and Legal Reasons. We may access, use, save, move,
              and disclose your information (including Personal Information) to
              third parties: (i) to satisfy any applicable law, regulation,
              subpoenas, governmental requests, or legal process if in our good
              faith opinion such is required or permitted by law; (ii) to
              protect and/or defend the Terms of Service for any online Services
              or other policies applicable to any online Services, including
              investigation of potential violations thereof; (iii) to protect
              the safety, rights, property, or security of the Services or any
              third party; and/or (iv) to detect, prevent, or otherwise address
              fraud, security, or technical issues. Further, we may use IP
              addresses or other Device Identifiers to identify users, and may
              do so in cooperation with third parties such as third party
              service providers and/or law enforcement agencies, including
              disclosing such information to third parties, all in our
              discretion. Such disclosures may be carried out without notice to
              you.
            </p>

            <p class="text-muted">
              Business Transfer. We may share your information, including your
              Personal Information and Usage Information, with our parent,
              subsidiaries, and affiliates for internal reasons. We also reserve
              the right to disclose and transfer all such information: (i) to a
              subsequent owner, co-owner or operator of the Services or
              applicable database; or (ii) in connection with a corporate
              merger, consolidation, restructuring, bankruptcy, the sale of
              substantially all of our membership interests and/or assets, or
              other corporate change, including during the course of any due
              diligence process.
            </p>

            <h4 class="card-title">Use of Collected Information :</h4>
            <h5 class="card-title">Special Offers and Updates :</h5>
            <p class="text-muted">
              From time to time we may send you information on products,
              services, special deals, or promotions. Out of respect for your
              privacy, we present the option not to receive these types of
              communications by logging into your Augie account and by following
              the unsubscribe instructions included in each promotional email.
            </p>

            <h5 class="card-title">Service-related Announcements :</h5>
            <p class="text-muted">
              We may send you service-related announcements when it is necessary
              to do so. For instance, if our service is temporarily suspended
              for technical improvements, we may inform you by sending an
              email. Generally, you may not opt-out of these service-related
              announcements, which are not promotional in intent. If you do not
              wish to receive service-related announcements, you have the option
              to deactivate your account once you have completed your current
              debt obligation.
            </p>

            <h5 class="card-title">Customer Service :</h5>

            <p class="text-muted">
              Based upon the personal information you furnish us, we will send
              you a confirmation email to verify your username and password. We
              will also communicate with you via email in response to your
              inquiries, to provide the services you request, and to manage your
              account.
            </p>

            <p class="text-muted">
              Please note that information submitted through the Services via a
              "contact us" or other similar function may not receive a response.
            </p>

            <h5 class="card-title">
              Online Behavioral Advertising and Opt-Out :
            </h5>

            <p class="text-muted">
              We work with third-party advertising networks, publishers, and
              other entities to advertise our products and services on websites
              not affiliated with us. Some of these ads are online behavioral
              advertising – which are advertisements that are more likely to be
              of interest to you using non-personal behavioral information. Such
              ads may contain cookies that allow monitoring of websites
              (including our own websites that part of our own Services) and
              your engagement with our advertisements. We prohibit companies
              that place our ads from using information for any purpose other
              than to assist us in our advertising. If you would like to not
              receive targeted advertising, you can opt-out of network
              advertising programs.
            </p>

            <p class="text-muted">
              In order for behavioral advertising opt-outs to work on your
              device, your browser must be set to accept cookies. If you delete
              cookies, buy a new Device, access our Services from a different
              device, login under a different screen name, or change web
              browsers, you will need to opt-out again.
            </p>

            <p class="text-muted">
                Even if you choose to remove your information (opt-out), you will
                still see advertisements while you are browsing online. However,
                the advertisements you see may be less relevant to you and your
                interests. Additionally, many network advertising programs allow
                you to view and manage the interest categories they have compiled
                from your online browsing activities. These interest categories
                help determine the types of targeted advertisements you may
                receive.
            </p>

            <h5 class="card-title">
              Consent To Transfer Information To The United States :
            </h5>

            <p class="text-muted">
              The Services are operated in the United States and intended for
              users located in the United States. If you are located outside of
              the United States, please note that information we gather,
              including Personal Information, will be transferred to and stored
              in the United States. The data protection laws in the United
              States may differ from those of the country in which you are
              located, and your Personal Information may be subject to access
              requests from governments, courts, or law enforcement in the
              United States according to laws of the United States, including
              the USA PATRIOT Act. By using the Services or providing us with
              any information, you consent to this transfer, processing, and
              storage of your information in the United States.
            </p>

            <h5 class="card-title">
              Change or Inquire About Information And Communications Preference
              :
            </h5>

            <p class="text-muted">
              It is your responsibility to maintain the accuracy of the
              information you furnish to us, such as your contact information
              provided as part of registration. You can access and make changes
              to the Personal Information you submit, including your marketing
              preferences, at any time by using the username and password you
              selected at the time of registration and making the change on our
              "My Profile" page. If you no longer desire our service, you may
              delete or deactivate it by following the instructions detailed in
              the Terms of Service.
            </p>

            <p class="text-muted">
              New categories of marketing communications might be added to the
              Marketing Preferences page from time to time, but we will require
              your consent and notice before marketing to you in this new way.
              We give you the opportunity to "opt-out" of having Personal
              Information used. For example, you can elect not to receive
              newsletters or alert emails. You can do this by logging into your
              account and visiting the "My Profile" page, and you may also
              follow the unsubscribe instructions included in each email.
            </p>

            <h5 class="card-title">
              Third Party Content And Links To Third Party Services :
            </h5>

            <p class="text-muted">
              Augie may post links to third party web sites that are not subject
              to this privacy policy. We do not exercise control over the
              external sites. These sites may place their own cookies or other
              files on your Device, collect data, web site usage information,
              and your Device Identifier when web pages from the Services are
              served to your browser, or solicit Personal Information from you.
              We are not responsible for the privacy practices employed by any
              of these third parties. For example, if you "click" on a banner
              advertisement, the "click" may take you away from the Services
              onto a different web site. These other web sites may send their
              own cookies to you, independently collect data, or solicit
              Personal Information and may or may not have their own published
              privacy policies. We encourage you to note when you leave our
              Services and to read the privacy statements of all third party web
              sites or applications before submitting any Personal Information
              to third parties.
            </p>

            <h5 class="card-title">Publicly Disclosed Information :</h5>

            <p class="text-muted">
              The Services may permit you to submit ideas, questions, comments,
              suggestions, or other content, including Personal Information
              (collectively, "User Content"), that is publicly viewable (such as
              on public portions of your user profile). We or others may
              reproduce, publish, distribute, or otherwise use User Content
              online or offline in any media or format (currently existing or
              hereafter developed). Others may have access to this User Content
              and may have the ability to share it with third parties across the
              Internet. Please think carefully before deciding what information
              you share, including Personal Information, in connection with your
              User Content.
            </p>

            <p class="text-muted">
              Note that Augie does not control who will have access to the
              information that you choose to make public, and cannot ensure that
              parties who have access to such publicly available information
              will respect your privacy or keep it secure. This Privacy Policy
              does not apply to any information that you disclose publicly or
              share with others, whether through the Services or otherwise. We
              are not responsible for the accuracy, use or misuse of any content
              or information that you disclose or receive through the Services.
            </p>

            <h5 class="card-title">Account Termination :</h5>

            <p class="text-muted">
              Because Augie is a financial services company, there are certain
              legal reporting and information retention requirements with which
              we must comply, particularly if you are still in the midst of a
              debt obligation that you created. Therefore, we cannot delete your
              account information outright. However, we will encrypt your
              information and disable your account, which will be inactive and
              not available to anyone other than Augie authorized personnel.
            </p>

            <h5 class="card-title">Security :</h5>

            <p class="text-muted">
              We enable our servers with Secure Socket Layer (SSL) technology to
              create a secure connection between your computer and our servers,
              creating a private session.
            </p>

            <p class="text-muted">
              We utilize firewalls and other security solutions to protect our
              servers from outside attack and safely store your Personal
              Information. We control access to this information via secure web
              pages, and limit access only to employees or third parties on a
              need to know basis.
            </p>

            <p class="text-muted">
              We utilize commercially reasonable safeguards to help protect and
              secure your Personal Information. However, no data transmission
              over the Internet, wireless transmission, or electronic storage of
              information can be guaranteed to be 100% secure. We cannot ensure
              the security of any information you furnish to us, and you use our
              Services and provide us with your information at your own risk.
            </p>

            <p class="text-muted">
              If you have any questions about security on our Web site, you can
              send an email to us at info@getaugie.com
            </p>

            <h5 class="card-title">
              California Residents - California Online Privacy Protection Act
              Compliance :
            </h5>

            <p class="text-muted">
              Because we value your privacy we have taken the necessary
              precautions to be in compliance with the California Online Privacy
              Protection Act. We therefore will not distribute your personal
              information to outside parties without your consent. Augie and the
              third parties who assist in operating Augie’s Services do not
              respond differently or limit their practices under the terms of
              this policy when you access those online services with a browser
              that uses a “do not track” signal or similar mechanism.
            </p>

            <p class="text-muted">
              If you are a resident of the state of California, you may request
              information that we provide you with information regarding how
              which we share certain categories of your information with third
              parties for their marketing purposes. In particular, you may have
              the right to request receive the following information: (a) the
              categories of information we have disclosed to third parties for
              their direct marketing purposes during the prior calendar year;
              and (b) the names and addresses of all of the third parties that
              received personal information for their direct marketing purposes
              during the preceding calendar year and, if the nature of the third
              parties' business cannot reasonably be determined from the third
              parties' names, examples of the products or services marketed, if
              known to us, sufficient to give you a reasonable indication of the
              nature of the third parties' business. To receive this
              information, please contact us at info@getaugie.com.
            </p>

            <h5 class="card-title">
              Childrens Online Privacy Protection Act Compliance :
            </h5>

            <p class="text-muted">
              Our website, products, and services are all directed to people who
              are at least 18 years old or older. We do not collect any
              information from anyone we believe is under 18 years of age. If
              you become aware that a child has provided us with personal
              information without parental consent, please contact us here. If
              we become aware that a child under 18 has provided us with
              personal information without parental consent, we take steps to
              remove such information and terminate the child's account. For
              more information on the Children’s Online Privacy Protection Act
              (COPPA), please visit the Federal Trade Commission website at
              www.ftc.gov
            </p>

            <h5 class="card-title">Changes to the Augie Privacy Policy :</h5>

            <p class="text-muted">
              We reserve the right to change this Privacy Policy at any time
              without notice to you. Augie will promptly post any policy changes
              to this page, and will also post the effective date of the new
              Privacy Policy. Any changes will be effective immediately upon the
              posting of the revised Privacy Policy.
            </p>

            <p class="text-muted">
              If there are any material changes in the way we treat Personal
              Information and/or Credit Information, Augie will notify you by
              sending a notice to the primary email address specified in your
              marketing preferences or by placing a prominent notice on our site
              prior to the change becoming effective.
            </p>

            <h5 class="card-title">Find Out More :</h5>
            <p class="text-muted">
              For additional information, or if you have questions regarding
              this policy or privacy practices at Augie, please submit your
              questions or comments directly to info@getaugie.com
            </p>

            <a href="javascript:void(0)" class="btn btn-primary">Print</a>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- End Privacy -->

<!-- Back to top -->
<a
  href="javascript: void(0);"
  class="btn btn-icon btn-soft-primary back-to-top"
  id="back-to-top"
  [ngxScrollTo]="'#home'"
>
  <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->
