<!-- Navbar STart -->
<header id="topnav" class="defaultscroll sticky" (window:scroll)="windowScroll()" [class]="navClass">
    <div class="container">
      <!-- Logo container-->
      <div>
        <a class="logo" routerLink="/" *ngIf="navClass !== 'nav-light'">
          <img src="assets/images/Purple.png" class="l-dark" height="24" alt="">
          <img src="assets/images/Purple.png" class="l-light" height="24" alt="">
          <span class="nav-link-ref">augie</span>
        </a>
        <a class="logo" routerLink="/" *ngIf="navClass === 'nav-light'">
          <img src="assets/images/Purple.png" class="l-dark" height="24" alt="">
          <span class="l-dark">augie</span>
          <span class="nav-link-ref" style="color: #fff">
            <img src="assets/images/Green.png" class="l-light" style="padding: 2px;background-color: aliceblue; border-radius: 50%; margin-right: 10px;" height="44" alt="">
            augie
          </span>
        </a>
      </div>
     
      <!--end login button-->
      <!-- End Logo container-->
      <div class="menu-extras">
        <div class="menu-item">
          <!-- Mobile menu toggle-->
          <a class="navbar-toggle" (click)="toggleMenu()" [ngClass]="{'open': isCondensed === true}">
            <div class="lines">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </a>
          <!-- End mobile menu toggle-->
        </div>
      </div>
  
      <div id="navigation">
        <!-- Navigation Menu-->
        <ul class="navigation-menu" [class]="navClass">
          <li><a routerLink="/" class="nav-link-ref">Home</a></li>
          <li><a routerLink="/signup" class="nav-link-ref">Sign up</a></li>
          <li><a routerLink="/faq" class="nav-link-ref">FAQs</a></li>
           
        </ul>
        <!--end navigation menu-->
        
        <!--end login button-->
        <!--end login button-->
      </div>
      <!--end navigation-->
    </div>
    <!--end container-->
  </header>
  <!--end header-->
  <!-- Navbar End -->