<!-- Hero Start -->
<section class="bg-half-260 bg-primary d-table w-100" id="home" style="background: url('assets/images/bg.png') center;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <div class="title-heading">
            <h1 class="heading text-white title-dark mb-4">Get the Credit you deserve</h1>
            <p class="para-desc mx-auto text-white-50">Sign up today to see if you qualify for Augie and start creating the Credit History you deserve.</p>
            <div class="mt-4 pt-2">
              <a href="javascript:void(0)" routerLink="/wl-signup" class="btn btn-light"> Sign up</a>
            </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  <!--end section-->
  <div class="position-relative">
    <div class="shape overflow-hidden text-white">
      <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
      </svg>
    </div>
  </div>
  <!-- Hero End -->
  
  <!-- FEATURES START -->
  <section class="section" id="faq">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="features-absolute">
            <div class="row">
              <div class="col-md-6">
                <div class="media features p-4 bg-white shadow rounded">
                  <div class="icons m-0 rounded h2 text-primary text-center px-3">
                    
                    <i class="uil uil-bed-double"></i>
                  </div>
                  <div class="content ml-4">
                    <h5 class="mb-1"><a href="javascript:void(0)" class="text-dark">Home Rent</a></h5>
                    <p class="text-muted mb-0">It does not matter who you pay your rent to, if you pay it every month, you can earn credit history using Augie.</p>
                  </div>
                </div>
              </div>
              <!--end col-->
  
              <div class="col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="media features p-4 bg-white shadow rounded">
                  <div class="icons m-0 rounded h2 text-primary text-center px-3">
                    <i class="uil uil-bill"></i>
                  </div>
                  <div class="content ml-4">
                    <h5 class="mb-1"><a href="javascript:void(0)" class="text-dark">Utility Bills</a></h5>
                    <p class="text-muted mb-0">Get credit for the money you spend to keep your lights on, heat on and cable TV live with images.</p>
                  </div>
                </div>
              </div>
              <!--end col-->
  
              <div class="col-md-6 mt-4 pt-2">
                <div class="media features p-4 bg-white shadow rounded">
                  <div class="icons m-0 rounded h2 text-primary text-center px-3">
                    <i class="uil uil-restaurant"></i>
                  </div>
                  <div class="content ml-4">
                    <h5 class="mb-1"><a href="javascript:void(0)" class="text-dark">Subscription Services</a></h5>
                    <p class="text-muted mb-0">You have subscription services you pay for on a consistent basis and never get credit for. Augie changes that.</p>
                  </div>
                </div>
              </div>
              <!--end col-->
  
              <div class="col-md-6 mt-4 pt-2">
                <div class="media features p-4 bg-white shadow rounded">
                  <div class="icons m-0 rounded h2 text-primary text-center px-3">
                    <i class="uil uil-mobile-android-alt"></i>
                  </div>
                  <div class="content ml-4">
                    <h5 class="mb-1"><a href="javascript:void(0)" class="text-dark">Mobile</a></h5>
                    <p class="text-muted mb-0">With Augie, no matter your plan, pre-paid, pay as you go or fixed plan, it adds up to credit for you.</p>
                  </div>
                </div>
              </div>
              <!--end col-->
  
              <!--
              <div class="col-12 mt-4 pt-2 text-center">
                <a href="javascript:void(0)" class="text-primary h6">Explore features
                  <i-feather name="arrow-right" class="fea icon-sm"></i-feather>
                </a>
              </div>
              -->
            </div>
          </div>
        </div>
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  
    <!-- About Start -->
   
  
  </section>
  <!--end section-->
  
  <section class="section bg-light" id="faq">
    <div class="col-lg-12 text-center">
      <h4 class="title">Frequently Asked Questions</h4>
    </div>
    
    <div class="container mt-100 mt-60">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="section-title text-md-left text-center">
            <h4 class="title mb-4">Questions ?</h4>
            <p class="text-muted mb-0 para-desc">Each time you pay a bill using <span
                class="text-primary font-weight-bold">Augie</span> you add to building a solid credit history AND earn bill reducing rewards through the Augie Reward Platform.</p>
  
            <ul class="list-unstyled text-muted mt-4 mb-0">
              <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Sign up</li>
              <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Refer a Friend and earn credit</li>
              <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>We'll notify you about the events and account activation</li>
            </ul>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
          <div class="faq-content">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" closeOthers="true">
              <ngb-panel cardClass="border-0 rounded shadow mb-2">
                <ng-template ngbPanelTitle>
                  <div class="border-0 bg-light" id="headingone">
                    <h6 class="title mb-0 text-dark"> What is Augie? </h6>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-muted mb-0 faq-ans">Augie is a revolutionary mobile app based platform enabling you to pay your monthly bills, yet earn a credit rating from it instead of using your own debit card.</p>
                </ng-template>
              </ngb-panel>
              <ngb-panel cardClass="border-0 rounded shadow mb-2">
                <ng-template ngbPanelTitle>
                  <div class="border-0 bg-light" id="headingtwo">
                    <h6 class="title mb-0 text-dark"> Can I use it in the United States? </h6>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-muted mb-0 faq-ans">Augie is in the process of launching in the US and will be live early 2021.</p>
                </ng-template>
              </ngb-panel>
              <ngb-panel cardClass="border-0 rounded shadow mb-2">
                <ng-template ngbPanelTitle>
                  <div class="border-0 bg-light" id="headingthree">
                    <h6 class="title mb-0 text-dark"> What is the Augie Referral Program? </h6>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-muted mb-0 faq-ans">It’s simple. Use your referral code (you get that in your first sign up email) to refer your friends and family. Every one you refer, earns you $1. You receive the $1 for each referral within sixty (60) days of them activating their Augie account.</p>
                </ng-template>
              </ngb-panel>
              <ngb-panel cardClass="border-0 rounded shadow mb-2">
                <ng-template ngbPanelTitle>
                  <div class="border-0 bg-light" id="headingfour">
                    <h6 class="title mb-0 text-dark"> What does it cost to sign up for and use Augie ? </h6>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-muted mb-0 faq-ans">Zero, zilch, nada. It really costs you nothing to sign up and use the Augie payment platform.</p>
                </ng-template>
              </ngb-panel>

              <ngb-panel cardClass="border-0 rounded shadow mb-2">
                <ng-template ngbPanelTitle>
                  <div class="border-0 bg-light" id="headingfour">
                    <h6 class="title mb-0 text-dark"> How will I know when I can activate my Augie account ? </h6>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-muted mb-0 faq-ans">Oh, we will email you.</p>
                </ng-template>
              </ngb-panel>

              <ngb-panel cardClass="border-0 rounded shadow mb-2">
                <ng-template ngbPanelTitle>
                  <div class="border-0 bg-light" id="headingfour">
                    <h6 class="title mb-0 text-dark"> What do I need to activate my Augie account? </h6>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-muted mb-0 faq-ans">Well, you see, we need to make sure you are a real human and not a dog or a cat. To do that, we need you to have an existing checking or savings account with a US Bank. Any bank will do.</p>
                </ng-template>
              </ngb-panel>

              <ngb-panel cardClass="border-0 rounded shadow mb-2">
                <ng-template ngbPanelTitle>
                  <div class="border-0 bg-light" id="headingfour">
                    <h6 class="title mb-0 text-dark"> Is there a Credit Check ?</h6>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-muted mb-0 faq-ans">Well, we assume you have no credit, so we do not check it. Our job is for you to use us to build your credit.</p>
                </ng-template>
              </ngb-panel>

              <ngb-panel cardClass="border-0 rounded shadow mb-2">
                <ng-template ngbPanelTitle>
                  <div class="border-0 bg-light" id="headingfour">
                    <h6 class="title mb-0 text-dark"> Who is the perfect Augie user ?</h6>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-muted mb-0 faq-ans">Anyone who either has limited or no credit history but is paying any bills monthly.</p>
                </ng-template>
              </ngb-panel>

              <ngb-panel cardClass="border-0 rounded shadow mb-2">
                <ng-template ngbPanelTitle>
                  <div class="border-0 bg-light" id="headingfour">
                    <h6 class="title mb-0 text-dark"> What happens after I give you my email and name ?</h6>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-muted mb-0 faq-ans">We keep that in a very secure database then share emails with you on how you activate your account.</p>
                </ng-template>
              </ngb-panel>

              <ngb-panel cardClass="border-0 rounded shadow mb-2">
                <ng-template ngbPanelTitle>
                  <div class="border-0 bg-light" id="headingfour">
                    <h6 class="title mb-0 text-dark"> Do you ever sell my information ?</h6>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-muted mb-0 faq-ans">NEVER.</p>
                </ng-template>
              </ngb-panel>

            </ngb-accordion>
  
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
  
    
    </div>
    <!--end container-->
  </section>
  <!--end section-->
  <div class="position-relative">
    <div class="shape overflow-hidden text-footer">
      <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
      </svg>
    </div>
  </div>
  
  <!-- Back to top -->
  <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top"
    [ngxScrollTo]="'#home'">
    <i-feather name="arrow-up" class="icons"></i-feather>
  </a>
  <!-- Back to top -->
  