  <!-- Hero Start -->
  <section class="bg-half bg-light d-table w-100" id="home">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <div class="page-next-level">
            <h4 class="title"> {{messageDetails.message}} </h4>
            <p class="para-desc mx-auto text-primary">{{messageDetails.description}}</p>

            <div *ngIf="messageDetails.code == 1001 || messageDetails.code == 1002"  class="mt-4 pt-2">
              <button routerLink="/home" type="submit" class="btn btn-primary">Home</button>
          </div>
            
          <div *ngIf="messageDetails.code == 1004 || messageDetails.code == 1005" class="mt-4 pt-2">
            <button (click)="retryReferral()" type="submit" class="btn btn-primary">Retry Referral</button>
        </div>

            <div *ngIf="messageDetails.code == 1007"  class="mt-4 pt-2">
                <button routerLink="/wl-signup" type="submit" class="btn btn-primary">Retry Signup</button>
            </div>

            <div *ngIf="messageDetails.code == 1006" class="mt-4 pt-2">
                <button (click)="retryReferral()" type="submit" class="btn btn-primary">Retry</button>
            </div>

            <div *ngIf="messageDetails.code == 1008" class="mt-4 pt-2">
              <button (click)="retryReferral()" type="submit" class="btn btn-primary">Refer</button>
          </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  <!--end section-->
  <div class="position-relative">
    <div class="shape overflow-hidden text-white">
      <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
      </svg>
    </div>
  </div>
  <!-- Hero End -->

  

  <!-- Back to top -->
  <a routerLink="/javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top"
    [ngxScrollTo]="'#home'">
    <i-feather name="arrow-up" class="icons"></i-feather>
  </a>
  <!-- Back to top -->
