<!-- Forms Start -->
<div class="col mt-4 pt-2" id="forms">
    <div class="component-wrapper rounded shadow">
      <div class="p-4 d-flex border-bottom" style="justify-content: space-between;">
        <h4 class="title mb-0"> Create Setting </h4>
        <a href="/admin" class="btn btn-primary"> Back </a>
      </div>

      <div class="p-4">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group position-relative">
                <label>Setting Key <span class="text-danger">*</span></label>
                <i-feather name="book" class="fea icon-sm icons"></i-feather>
                <input name="name" id="name" type="text" class="form-control pl-5" placeholder="Setting Key:">
              </div>
            </div>
            <!--end col-->
            <div class="col-md-6">
              <div class="form-group position-relative">
                <label>Setting Value <span class="text-danger">*</span></label>
                <i-feather name="book" class="fea icon-sm icons"></i-feather>
                <input name="email" id="email" type="email" class="form-control pl-5"
                  placeholder="Setting  Value:">
              </div>
            </div>
            <!--end col-->
            <div class="col-md-12">
              <div class="form-group position-relative">
                <label>Description</label>
                <i-feather name="book" class="fea icon-sm icons"></i-feather>
                <input name="subject" id="subject" class="form-control pl-5" placeholder="Description :">
              </div>
            </div>
          </div>
          <!--end row-->
          <div class="row">
            <div class="col-sm-12">
              <input type="submit" id="submit" name="send" class="btn btn-primary" value="Create Setting">
            </div>
            <!--end col-->
          </div>

          <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-success" role="alert"> Setting Added! </div>
            </div>
            <div class="col-sm-12">
                <div class="alert alert-danger" role="alert"> Error adding setting </div>
            </div>
            <!--end col-->
          </div>

          
          <!--end row-->
        </form>
        <!--end form-->
      </div>
    </div>
  </div>
  <!--end col-->
  <!-- Forms End -->